{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i></a>{% endif %}
{% if site.footer-links.hackthebox %}<a href="https://app.hackthebox.com/users/{{ site.footer-links.hackthebox}}"><i class="svg-icon hackthebox"></i></a>{% endif %}
{% if site.footer-links.tryhackme %}<a href="https://tryhackme.com/p/{{ site.footer-links.tryhackme}}"><i class="svg-icon tryhackme"></i></a>{% endif %}